<div ng-controller="HomeController" class="col-md-6 col-md-offset-3 home-content">
    <img src="/me/assets/images/me.jpg" width="150" class='img-thumbnail'> 
    <div class="desc">
        Hello there, I'm <span class="my-name">Flavio Tulino</span>!

        <p>I decided to develop and release some of my projects, mostly written in Javascript and PHP.
            My aim is to provide some plugins and classes to help people write code!</p>

        <br/>
        <h3>Something about me</h3>
        <p>I am Italian, and I am a Student in Computer Science at “Parthenope” University.
            Currently I work as developer, mainly as Web Developer, for the Australian <span class='highlight'>Lakeba Corporation.</span>
        </p>

        <h3>Outside work?</h3>
        <p>I like music, and I am a guitarist in a prog-rock band (take a look <a href='#'>here</a>).
            And I have a good experience with Logic Pro X!
        </p>

        <h3>Get in touch</h3>
        <p>You can find me on Twitter, Github and via Email</p>
        <div class='getintouch'>
            <p><i class='fa fa-twitter'></i><a href='#'>@flaviotulino</a>
            <p><i class="fa fa-github"></i><a href='https://github.com/flaviotulino/'>flaviotulino</a></p>
            <p><i class="fa fa-envelope"></i><a href="maito:flavio.tulino@gmail.com">flavio.tulino@gmail.com</a></p>
        </div>
    </div>
</div>
